body {
    background: rgb(36, 36, 36);
    margin: 0;
  }

nav {
   background: radial-gradient(#000000);
   position: fixed;
   z-index: 2;
   width: 100%;
}

nav ul {
    display: inline-flex;
    float: right;
    padding-right: 50px;
    padding-top: 15px;
}

nav ul li {
    list-style-type: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}


a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: white;
}

header img {
    position: fixed;
    width: 15%;
    height: 10%;
    top: 185px;
    left: 765px;
    z-index: 1;
}

header h2 {
    position: fixed;
    right: 650px;
    top: 300px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    z-index: 1;
    letter-spacing: 1.5px;
}

header h3 {
    position: fixed;
    right: 600px;
    top: 350px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    z-index: 1;
    font-size: 15px;
    letter-spacing: 1.5px;
}

header h4 {
    color: rgb(24, 168, 97);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    z-index: 1;
    position: absolute;
    top: 133px;
    left: 800px;
    letter-spacing: 3px;
}

.first-button {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    color: #1f1f1f;
    font-weight: bold;
    padding: 15px;
    font-size: 15px;
    border-radius: 5px;
    z-index: 1;
    position: fixed;
    bottom: 555px;
    left: 773px;
    border: none;
}

header p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    opacity: .5;
    font-weight: lighter;
    font-size: 10px;
    position: absolute;
    z-index: 1;
    top: 460px;
    left: 790px;
}

img {
    width: 100%;
    z-index: 0;
    height: 70%;
    position: absolute;
    top: 5px;
}

.bundle {
    position: fixed;
    top: 565px;
    background: linear-gradient(318.68deg, #0F495C 0%, #0D3640 49.72%, #08141F 100%);
    width: 100%;
    height: 150px;
}

.bundle h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(24, 168, 97);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    z-index: 1;
    position: absolute;
    top: 18px;
    left: 600px;
    letter-spacing: 1.5px;
}

.bundle h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;;
    color: white;
    font-weight: lighter;
    z-index: 1;
    position: absolute;
    top: 43px;
    left: 600px;
}

.bundle p {
    font-family: Arial, Helvetica, sans-serif;
    font: lighter;
    font-size: 15px;;
    color: white;
    z-index: 1;
    position: absolute;
    top: 90px;
    left: 600px;
}

.second-button {
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: none;
    border: 1.7px solid white;
    font-weight: bold;
    padding: 15px;
    font-size: 15px;
    border-radius: 5px;
    position: absolute;
    bottom: 50px;
    right: 175px;
}

.logo {
    position: absolute;
    left: 145px;
    top: 20px;
    z-index: 1;
    width: 20%;
    height: auto;
}

.plans {
    background: black;
    position: fixed;
    top: 715px;
    width: 100%;
    height: 100%
}

.plans h1 {
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    letter-spacing: -.5;
    text-align: center;
    position: relative;
    top: 70px;
}

h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .5px;
    font-weight: lighter;
    font-size: 25px;
    position: relative;
    bottom: -60px;
    z-index: 1;
    text-align: center;
}

.plans h4 {
    font-weight: bold;
    top: 55px;
    position: absolute;
    left: 800px;
}
